@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f4f6; /* لون خلفية فاتح للصفحة */
}

/* لتخصيص السكرول بار */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; 
}
